.playlists {
  display: flex;
  flex-direction: row;

  .plist {
    height: 250px;
    width: 1000px;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;

    .cover {
      height: 250px;
      width: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      margin-left: 50px;
      width: 800px;

      h2 {
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
      }

      span {
        color: white;
      }
    }
  }
}
